
# AuthService .gitignore file
AuthService/.idea/.idea.AuthService/.idea/.gitignore
AuthService/.idea/.idea.AuthService/.idea/encodings.xml
AuthService/.idea/.idea.AuthService/.idea/indexLayout.xml
AuthService/.idea/.idea.AuthService/.idea/vcs.xml
AuthService/AuthService.Api/bin
AuthService/AuthService.Api/obj
AuthService/AuthService.Api/appsettings.json
AuthService/AuthService.Api/appsettings.Development.json
AuthService/AuthService.Application/bin
AuthService/AuthService.Application/obj
AuthService/AuthService.Domain/bin
AuthService/AuthService.Domain/obj
AuthService/AuthService.Infra/bin
AuthService/AuthService.Infra/obj
AuthService/AuthService.Shared/bin
AuthService/AuthService.Shared/obj
AuthService/AuthService.Test/bin
AuthService/AuthService.Test/obj
AuthService/AuthService.sln.DotSettings.user

#UserService .gitignore file
CustomerService/.idea/.idea.CustomerService/.idea/.gitignore
CustomerService/.idea/.idea.CustomerService/.idea/encodings.xml
CustomerService/.idea/.idea.CustomerService/.idea/indexLayout.xml
CustomerService/.idea/.idea.CustomerService/.idea/vcs.xml
CustomerService/CustomerService.Api/bin
CustomerService/CustomerService.Api/obj
CustomerService/CustomerService.Api/appsettings.json
CustomerService/CustomerService.Api/appsettings.Development.json
CustomerService/CustomerService.Application/bin
CustomerService/CustomerService.Application/obj
CustomerService/CustomerService.Domain/bin
CustomerService/CustomerService.Domain/obj
CustomerService/CustomerService.Infra/bin
CustomerService/CustomerService.Infra/obj
CustomerService/CustomerService.Infra.CrossCutting/bin
CustomerService/CustomerService.Infra.CrossCutting/obj
CustomerService/CustomerService.Shared/bin
CustomerService/CustomerService.Shared/obj
CustomerService/CustomerService.Tests/bin
CustomerService/CustomerService.Tests/obj
CustomerService/CustomerService.sln.DotSettings.user