AuthService/.idea/.idea.AuthService/.idea/.gitignore
AuthService/.idea/.idea.AuthService/.idea/encodings.xml
AuthService/.idea/.idea.AuthService/.idea/indexLayout.xml
AuthService/.idea/.idea.AuthService/.idea/vcs.xml
AuthService/AuthService.Api/bin
AuthService/AuthService.Api/obj
AuthService/AuthService.Api/appsettings.json
AuthService/AuthService.Api/appsettings.Development.json
AuthService/AuthService.Application/bin
AuthService/AuthService.Application/obj
AuthService/AuthService.Domain/bin
AuthService/AuthService.Domain/obj
AuthService/AuthService.Infra/bin
AuthService/AuthService.Infra/obj
AuthService/AuthService.Shared/bin
AuthService/AuthService.Shared/obj
AuthService/AuthService.Test/bin
AuthService/AuthService.Test/obj
