.idea/.idea.dotnet-boilerplate/.idea/.gitignore
.idea/.idea.dotnet-boilerplate/.idea/encodings.xml
.idea/.idea.dotnet-boilerplate/.idea/indexLayout.xml
ProductService.Api/bin/
ProductService.Api/obj/
ProductService.Application/bin/
ProductService.Application/obj/
ProductService.Domain/bin/
ProductService.Domain/obj/
ProductService.Infra/bin/
ProductService.Infra/obj/
ProductService.Infra.CrossCutting/bin/
ProductService.Infra.CrossCutting/obj/
ProductService.Shared/bin/
ProductService.Shared/obj/
ProductService.Tests/bin/
ProductService.Tests/obj/
appsettings.json