version: "3.9"
services:
  user-postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: productdb
      POSTGRES_USER: product_service
      POSTGRES_PASSWORD: product_service
    ports:
      - "5435:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
